
#include "database/model/data.hxx"

#include "nlohmann/json.hpp"

namespace data
{

{% for file in files %}
namespace {{ file.name }}
{
{% for part in file.parts %}
    // struct {{ part.name }} : public mega::io::Object
    {{ part.name }}::{{ part.name }}( ObjectPartLoader& loader, const mega::io::ObjectInfo& objectInfo )
        :   mega::io::Object( objectInfo )
{% for pointer in part.pointers %}
          , {{ pointer.longname }}( loader )
{% endfor %}{#part.pointers#}
{% for property in part.properties %}
{% if property.is_pointer %}
          , {{ property.name }}( loader )
{% endif %}
{% endfor %}{#part.property#}
    {
    }
{% if length(part.properties) %}
    {{ part.name }}::{{ part.name }}( ObjectPartLoader& loader, const mega::io::ObjectInfo& objectInfo{% for property in part.initialisations %}, {{ property.argtype }} {{ property.name }}{% endfor %} )
        :   mega::io::Object( objectInfo )
{% for pointer in part.pointers %}
          , {{ pointer.longname }}( loader )
{% endfor %}{#part.pointers#}
{% for property in part.initialisations %}
          , {{ property.name }}( {{ property.name }} )
{% endfor %}{#part.property#}
    {
    }
{% endif %}{# length(part.properties) #}
    void {{ part.name }}::load( mega::io::Loader& loader )
    {
{% for pointer in part.pointers %}
        loader.load( {{ pointer.longname }} );
{% endfor %}{#part.pointers#}
{% for property in part.properties %}
        loader.load( {{ property.name }} );
{% endfor %}{#part.property#}
    }
    void {{ part.name }}::load_post( mega::io::Loader& loader )
    {
{% if part.has_base %}
        {{ part.base }}->m_pInheritance = this;
{% endif %}
    }
    void {{ part.name }}::store( mega::io::Storer& storer ) const
    {
{% for pointer in part.pointers %}
        storer.store( {{ pointer.longname }} );
{% endfor %}{#part.pointers#}
{% for property in part.properties %}
{% if property.has_validation %}  
        {{ property.validation }}
{% endif %}
        storer.store( {{ property.name }} );
{% endfor %}{#part.property#}
    }
    void {{ part.name }}::to_json( nlohmann::json& part ) const
    {
        part = nlohmann::json::object(
            { 
                { "partname", "{{ part.name }}" },
                { "filetype" , "{{ file.name }}" },
                { "typeID", Object_Part_Type_ID },
                { "fileID", getFileID() },
                { "index", getIndex() }, 
                { "properties", nlohmann::json::array() }
            });
{% for property in part.properties %}
{% if property.has_validation %}
        {
            nlohmann::json property = nlohmann::json::object({
                { "{{ property.name }}", {{ property.name }}.value() } } );
            part[ "properties" ].push_back( property );
        }
{% else %}
        {
            nlohmann::json property = nlohmann::json::object({
                { "{{ property.name }}", {{ property.name }} } } );
            part[ "properties" ].push_back( property );
        }
{% endif %}
{% endfor %}{#part.property#}
    }
        
{% endfor %}{#file.parts#}
}
{% endfor %}{# files #}


mega::io::Object* Factory::create( ObjectPartLoader& loader, const mega::io::ObjectInfo& objectInfo )
{
    switch( objectInfo.getType() )
    {
{% for file in files %}
{% for part in file.parts %}
        case {{ part.typeID }}: return new {{ file.name }}::{{ part.name }}( loader, objectInfo );
{% endfor %}{#file.parts#}
{% endfor %}{# files #}
        default:
            THROW_RTE( "Unrecognised object type ID" );
    }
}

}
