//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
//  Author: Edward Deighton
//  License: Please see license.txt in the project root folder.

//  Use and copying of this software and preparation of derivative works
//  based upon this software are permitted. Any copy of this software or
//  of any derivative work must include the above copyright notice, this
//  paragraph and the one after it.  Any distribution of this software or
//  derivative works must comply with all applicable laws.

//  This software is made available AS IS, and COPYRIGHT OWNERS DISCLAIMS
//  ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
//  PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
//  LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
//  EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
//  NEGLIGENCE) OR STRICT LIABILITY, EVEN IF COPYRIGHT OWNERS ARE ADVISED
//  OF THE POSSIBILITY OF SUCH DAMAGES.




#ifndef DRIVER_ENVIRONMENT_24_MARCH_2022
#define DRIVER_ENVIRONMENT_24_MARCH_2022

#include "database/types/sources.hpp"
#include "database/types/cardinality.hpp"
#include "database/types/ownership.hpp"
#include "database/types/operation.hpp"
#include "database/types/derivation.hpp"

#include "database/common/file_system.hpp"

#include "boost/filesystem/path.hpp"

#include <string>

namespace mega
{
namespace io
{
    class Environment : public FileSystem
    {
    public:
        static mega::U64 getVersion();

        manifestFilePath project_manifest() const
        { 
            std::ostringstream os;
            os << "project" << manifestFilePath::extension().string(); 
            return manifestFilePath( os.str() );
        }
        
{% for stage in stages %}
{% for file in stage.files %}
{% for source in stage.sources %}
        CompilationFilePath {{ stage.name }}_{{ file.name }}( const {{ source }}FilePath& source) const;
{% endfor %}
{% endfor %}
{% endfor %}

    };
} // namespace io
} // namespace mega

#endif // DRIVER_ENVIRONMENT_24_MARCH_2022
