#ifndef DRIVER_ENVIRONMENT_24_MARCH_2022
#define DRIVER_ENVIRONMENT_24_MARCH_2022

#include "database/types/sources.hpp"
#include "database/types/cardinality.hpp"
#include "database/types/ownership.hpp"
#include "database/types/operation.hpp"

#include "database/common/file_system.hpp"

#include "boost/filesystem/path.hpp"

#include <string>

namespace mega
{
namespace io
{
    class Environment : public FileSystem
    {
    public:
        static std::size_t getVersion();

        manifestFilePath project_manifest() const
        { 
            std::ostringstream os;
            os << "project" << manifestFilePath::extension().string(); 
            return manifestFilePath( os.str() );
        }
        
{% for stage in stages %}
{% for file in stage.files %}
{% for source in stage.sources %}
        CompilationFilePath {{ stage.name }}_{{ file.name }}( const {{ source }}FilePath& source) const;
{% endfor %}
{% endfor %}
{% endfor %}

    };
} // namespace io
} // namespace mega

#endif // DRIVER_ENVIRONMENT_24_MARCH_2022
