#ifndef DRIVER_ENVIRONMENT_24_MARCH_2022
#define DRIVER_ENVIRONMENT_24_MARCH_2022

#include "database/common/sources.hpp"
#include "database/common/file_system.hpp"

#include "boost/filesystem/path.hpp"

#include <string>

namespace mega
{
namespace io
{
    class Environment : public FileSystem
    {
    public:
        using Path = boost::filesystem::path;

        Environment( const Path& rootSourceDir, const Path& rootBuildDir, const Path& tempDir );

        Path stashDir() const;

        const Path& rootSourceDir() const { return m_rootSourceDir; }
        const Path& rootBuildDir() const { return m_rootBuildDir; }

        manifestFilePath project_manifest() const;
        Path dependency( const std::string& strOpaque ) const;

        ComponentListingFilePath ComponentListingFilePath_fromPath( const Path& buildDirectory ) const;
{% for source in sources %}
        {{ source.type }}FilePath {{ source.type }}FilePath_fromPath( const boost::filesystem::path& filePath ) const;
{% endfor %}

{% for stage in stages %}
{% for file in stage.files %}
        CompilationFilePath {{ stage.name }}_{{ file.name }}( const {{ stage.source }}FilePath& source) const;
{% endfor %}
{% endfor %}

    protected:
        const Path& m_rootSourceDir;
        const Path& m_rootBuildDir;
        const Path& m_tempDir;

    };
} // namespace io
} // namespace mega

#endif // DRIVER_ENVIRONMENT_24_MARCH_2022
