#include "database/model/file_info.hxx"

namespace mega
{
namespace io
{

    FileInfo::FileInfo()
        : m_fileType( TOTAL_FILE_TYPES )
        , m_fileID( ObjectInfo::NO_FILE )
    {
    }

    FileInfo::FileInfo( Type                            fileType,
                        ObjectInfo::FileID              fileID,
                        const CompilationFilePath&      filePath,
                        const SourceFilePath&           objectSourceFilePath )
        : m_fileType( fileType )
        , m_fileID( fileID )
        , m_filePath( filePath )
        , m_objectSourceFilePath( objectSourceFilePath )

    {
    }

} // namespace io
} // namespace mega

BOOST_CLASS_IMPLEMENTATION( mega::io::FileInfo, object_serializable )
