build_*
build/
log/
bin
modules/llvm_*
data/components/common/__pycache__
scripts/test_output_log_file.txt
dump_*
.vs*
*.o
*.exe
*.db
*.pch
*.gch
third_party
*.obj
*_log/
*_build/
*.ilk
*.pdb
*.swp
imgui.ini
*.hxx
*.cxx
*.json

