#ifndef {{ guard }}
#define {{ guard }}

#include "database/io/object_info.hpp"
#include "database/io/object.hpp"
#include "database/io/loader.hpp"
#include "database/io/storer.hpp"
#include "database/io/data_pointer.hpp"

#include "boost/filesystem/path.hpp"

#include <vector>
#include <string>
#include <cstddef>
#include <cstdint>

namespace data
{

// declarations
{% for file in files %}
namespace {{ file.name }}
{
{% for part in file.parts %}
    struct {{ part.name }};
{% endfor %}{#file.parts#}
}
{% endfor %}{# files #}

// definitions
{% for file in files %}
namespace {{ file.name }}
{
{% for part in file.parts %}
    struct {{ part.name }} : public mega::io::Object
    {
        {{ part.name }}( ObjectPartLoader& loader, const mega::io::ObjectInfo& objectInfo{% for property in part.properties %}, {{ property.argtype }} {{ property.name }}{% endfor %} );
        enum 
        {
            Type = {{ part.typeID }}
        };
{% for property in part.properties %}
        {{ property.type }} {{ property.name }};
{% endfor %}{#part.property#}
{% for pointer in part.pointers %}
        Ptr< {{ pointer.typename }} > {{ pointer.longname }};
{% endfor %}{#part.pointers#}
        virtual void load( mega::io::Loader& loader );
        virtual void store( mega::io::Storer& storer ) const;
    };
{% endfor %}{#file.parts#}
}
{% endfor %}{# files #}

{% for conversion in conversions %}
template <>
inline Ptr< {{ conversion.to }} > convert( Ptr< {{ conversion.from }} >& from )
{
    return from{% for pointer in conversion.pointers %}->{{ pointer }}{% endfor %};
}

{% endfor %}{# conversions #}

}
#endif //{{ guard }}
