#ifndef {{ guard }}
#define {{ guard }}

## for namespace in namespaces
namespace {{ namespace.name }}
{

## for object in namespace.objects
class {{ object.name }}
{
public:
    {{ object.name }}();
    {{ object.name }}( const ObjectInfo& objectInfo );
private:
    
    // Data Interface goes here...
};

## endfor
};

## endfor

#endif //{{ guard }}
