

// ed was here
#include "/workspace/root/src/mega/src/api/mega/common.hpp"

mega::reference {{ name }}( mega::ExecutionContext& executionContext, const mega::reference& context )
{
    return context;
}
