

// ed was here
#include "/workspace/root/src/mega/src/api/mega/common.hpp"

extern LogicalAddress allocate( ExecutionIndex executionIndex, TypeID objectTypeID );

mega::reference {{ name }}( const mega::reference& context )
{
    mega::reference result;
    result.logical = allocate( context.address.physical.execution, context.typeID );
    result.physical = logicalToPhysical( context.address.physical.execution, context.typeID, result.logical );

    result.instance = 0;
    result.typeID = context.typeID;
    return result;
}
