

#include "/workspace/root/src/mega/src/api/mega/common.hpp"

namespace mega
{
namespace runtime
{
LogicalAddress allocateLogical( mega::ExecutionIndex executionIndex, mega::TypeID objectTypeID );
mega::PhysicalAddress logicalToPhysical( mega::ExecutionIndex executionIndex, mega::TypeID objectTypeID, mega::LogicalAddress logicalAddress );
}
}

mega::reference {{ name }}( const mega::reference& context )
{
    const mega::LogicalAddress logicalAddress = mega::runtime::allocateLogical( context.physical.execution, context.typeID );

    mega::reference result;
    {
        result.physical = mega::runtime::logicalToPhysical( context.physical.execution, context.typeID, logicalAddress );
        result.instance = 0;
        result.typeID = context.typeID;
    }
    return result;
}
