
// ed was here
#include "/workspace/root/src/mega/src/api/mega/common.hpp"

static const char* g_pszModuleName = "{{module_name}}";

namespace mega
{
namespace runtime
{
using GetHeapFunction   = void* ( * )( mega::PhysicalAddress address );
using GetSharedFunction = void* ( * )( mega::PhysicalAddress address );

LogicalAddress allocateLogical( mega::ExecutionIndex executionIndex, mega::TypeID objectTypeID );
mega::PhysicalAddress logicalToPhysical( mega::ExecutionIndex executionIndex, mega::TypeID objectTypeID, mega::LogicalAddress logicalAddress );
void get_getter_heap( const char* pszUnitName, mega::TypeID objectTypeID, GetHeapFunction* ppFunction );
void get_getter_shared( const char* pszUnitName, mega::TypeID objectTypeID, GetSharedFunction* ppFunction );
}
}

{% for getter in getters %}
static mega::runtime::GetSharedFunction _fptr_get_shared_{{ getter }} = nullptr;
{% endfor %}

void* {{ name }}( mega::reference context )
{
{% for variable in variables %}
{{ variable }}
{% endfor %}

{% for assignment in assignments %}
{{ assignment }}
{% endfor %}
}
