
// ed was here
#include "/workspace/root/src/mega/src/api/mega/common.hpp"
#include "/workspace/root/src/mega/src/api/mega/runtime_functions.hpp"

static const char* g_pszModuleName = "{{module_name}}";

{% for getter in getters %}
static mega::runtime::GetSharedFunction _fptr_get_shared_{{ getter }} = nullptr;
{% endfor %}

mega::runtime::WriteResult {{ name }}( mega::reference context )
{
{% for variable in variables %}
{{ variable }}
{% endfor %}

{% for assignment in assignments %}
{{ assignment }}
{% endfor %}
}
