//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
//  Author: Edward Deighton
//  License: Please see license.txt in the project root folder.

//  Use and copying of this software and preparation of derivative works
//  based upon this software are permitted. Any copy of this software or
//  of any derivative work must include the above copyright notice, this
//  paragraph and the one after it.  Any distribution of this software or
//  derivative works must comply with all applicable laws.

//  This software is made available AS IS, and COPYRIGHT OWNERS DISCLAIMS
//  ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
//  PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
//  LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
//  EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
//  NEGLIGENCE) OR STRICT LIABILITY, EVEN IF COPYRIGHT OWNERS ARE ADVISED
//  OF THE POSSIBILITY OF SUCH DAMAGES.





#ifndef MESSAGES_GENERATED_26_MAY_2022
#define MESSAGES_GENERATED_26_MAY_2022

#include "pipeline/task.hpp"
#include "pipeline/pipeline.hpp"

#include "service/protocol/common/header.hpp"
#include "service/protocol/common/node.hpp"
#include "service/protocol/common/megastructure_installation.hpp"
#include "service/protocol/common/pipeline_result.hpp"
#include "service/protocol/common/project.hpp"
#include "service/protocol/common/status.hpp"
#include "service/protocol/common/memory_config.hpp"

#include "utilities/serialization_helpers.hpp"

#include "common/stash.hpp"

#include "mega/common.hpp"

#include <boost/filesystem/path.hpp>

#include <vector>
#include <map>
#include <set>
#include <string>
#include <optional>
#include <memory>
#include <any>

namespace mega::network
{

class Message
{
    friend const void* getData( const Message& message );
    friend void* getData( Message& message );
    friend void    encode( boost::archive::binary_oarchive& archive, const Message& message );
    friend Message decode( boost::archive::binary_iarchive& archive );

    MessageID      index = 0; // MSG_Error_Dispatch
    ConversationID sender, receiver;
    std::shared_ptr< void > data;

public:
    Message() = default;
    Message( MessageID index, ConversationID sender, ConversationID receiver, std::shared_ptr< void > data )
        : index( index )
        , sender( std::move( sender ) )
        , receiver( std::move( receiver ) )
        , data( std::move( data ) )
    {
    }

    MessageID             getID() const { return index; }
    const ConversationID& getReceiverID() const { return receiver; }
    const ConversationID& getSenderID() const { return sender; }
    const char*           getName() const;

    operator bool() const { return index != 0; }

    template < typename Archive >
    void save( Archive& ar, const unsigned int version ) const;

    template < typename Archive >
    void load( Archive& ar, const unsigned int version );
    BOOST_SERIALIZATION_SPLIT_MEMBER()
};

struct ReceivedMsg
{
    ConnectionID connectionID;
    Message      msg;
};

{%for message in messages%}
{%for namespace in message.namespaces%}
{%if loop.is_first %}namespace {{namespace}}{%else%}::{{namespace}}{%endif%}
{%endfor%}{# for namespace in message.namespaces #}
{%if message.has_namespace%} { {%endif%}

struct {{ message.name }}
{
    static const MessageID ID = {{ message.id }};
{%for member in message.members%}
    {{ member.type }} {{ member.name }}; 
{%endfor%}
    static Message make( const ConversationID& sender, const ConversationID& receiver, {{ message.name }}&& msg );
    static inline Message make( const ConversationID& sender, {{ message.name }}&& msg ) { return make( sender, sender, std::move( msg ) ); }
    static const {{ message.name }}& get( const Message& msg );
};

{%if message.has_namespace%} } {%endif%} 
{%endfor%}


Message make_error_msg( const ConversationID& receiver, const std::string& strErrorMsg );

bool isRequest( const Message& msg );
Message decode( boost::archive::binary_iarchive& archive );
void encode( boost::archive::binary_oarchive& archive, const Message& msg );

template < typename Archive >
void Message::save( Archive& ar, const unsigned int version ) const
{
    encode( ar, *this );
}

template < typename Archive >
void Message::load( Archive& ar, const unsigned int version )
{
    *this = decode( ar );
}

std::ostream& operator<<( std::ostream& os, const Message& msg );

void aggregate( Message& request, const std::vector< Message >& responses );

} // namespace mega::network

#endif // MESSAGES_GENERATED_26_MAY_2022
