
#include "service/protocol/model/messages.hxx"

#include <variant>

namespace mega
{
namespace network
{

{%for message in messages%}
{%for namespace in message.namespaces%}
{%if loop.is_first %}namespace {{namespace}}{%else%}::{{namespace}}{%endif%}
{%endfor%}{# for namespace in message.namespaces #}
{%if message.has_namespace%} { {%endif%}

Message {{ message.name }}::make( const {{ message.name }}& msg )
{
    return Message{ ID, msg };
}

const {{ message.name }}& {{ message.name }}::get( const Message& msg )
{
    VERIFY_RTE_MSG( getMsgID( msg ) == ID, "Expected message type: " << getMsgNameFromID( ID ) << " but got: " << getMsgNameFromID( getMsgID( msg ) ) );
    return *std::any_cast< {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }} >( &msg.msg );
}

{%if message.has_namespace%} } {%endif%} 
{%endfor%}

Message make_error_msg( const std::string& strErrorMsg )
{
    return Message{ MSG_Error_Response::ID, MSG_Error_Response{ strErrorMsg } };
}

bool isRequest( const Message& message )
{
    switch( message.index )
    {
{%for message in messages%}
        case {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}::ID: 
{%if message.is_request %}
            return true;
{% else %}
            return false;
{% endif %}
{% endfor %} 
        default:
        {
            THROW_RTE( "Unknown message: " << message.index );
        }
    }
}

Message decode( boost::archive::binary_iarchive& archive, MessageID msgID )
{
    switch ( msgID )
    {
{%for message in messages%}
        case {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}::ID:
        {
            {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }} msg;
{%for member in message.members%}
            archive& msg.{{ member.name }}; 
{%endfor%}
            return {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}::make( msg );
        }
        break;
{%endfor%}
        default:
        {
            THROW_RTE( "Error decoding message: " << msgID );
        }
    }
}

void encode( boost::archive::binary_oarchive& archive, const Message& message )
{
    switch( message.index )
    {
{%for message in messages%}
        case {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}::ID:
        {
            const {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}& msg = 
                {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}::get( message );
{%for member in message.members%}
            archive& msg.{{ member.name }}; 
{%endfor%}
        }
        break;
{% endfor %}
        default:
        {
            THROW_RTE( "Error decoding message: " << message.index );
        }
    }
}

std::ostream& operator<<( std::ostream& os, const Message& msg )
{
    return os << getMsgName( msg );
}

MessageID getMsgID( const Message& msg )
{
    return msg.index;
}

const char* getMsgNameFromID( MessageID id )
{
    switch( id )
    {
{%for message in messages%}
        case {{ message.id }}: return "{%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}";
{% endfor %}
        default: 
        {
            THROW_RTE( "Unknown message type: " << id );
        }
    }
}

const char* getMsgName( const Message& msg )
{
    return getMsgNameFromID( getMsgID( msg ) );
}

void aggregate( Message& request, const std::vector< Message >& responses )
{
    switch( request.index )
    {
{%for message in messages%}
{% if message.is_broadcast %}
        case {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}::ID:
        {
            {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }}& msg = 
                *std::any_cast< {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.name }} >( &request.msg );
{%for member in message.members%}
{% if loop.is_last %}
            for( const Message& response : responses )
            {
                const {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.response_name }}& responseMsg =
                    *std::any_cast< {%for namespace in message.namespaces%}{{namespace}}::{%endfor%}{{ message.response_name }} >( &response.msg );
                msg.{{ member.name }}.push_back( responseMsg.{{ message.response_member }} );
            }
{% endif %}
{%endfor%}
        }
        break;
{% endif %}
{% endfor %}
        default:
        {
            THROW_RTE( "Error decoding message: " << request.index );
        }
    }
}

}
}