digraph
{
    fontname="Helvetica,Arial,sans-serif"
    rankdir=LR;
    node [ shape=record style=filled fillcolor=gray color=darkblue];
    edge [ ];
    graph [splines=true overlap=false]
    ratio = auto;
    concentrate=True;

{% for node in nodes %}
    "{{ node.name }}" [
        label = "{{ node.label }}({{ node.concrete_id }},{{ node.type_id }},{{ node.symbol }}){% for base in node.bases %}{% if loop.is_first%} : {% else %}, {% endif %}{{ base.label }}({{ base.type_id }},{{ base.symbol }}){% endfor %}{% for property in node.properties %}|{{ property.name }}({{ property.type_id }},{{ property.symbol }}): {{ property.value }}{% endfor %}"
        shape = "record"
    ];
{% endfor %}

{% for edge in edges %}
    {{ edge.from }} -> {{ edge.to }} [color="#{{ edge.colour }}"]
{% endfor %}
}

