//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
//  Author: Edward Deighton
//  License: Please see license.txt in the project root folder.

//  Use and copying of this software and preparation of derivative works
//  based upon this software are permitted. Any copy of this software or
//  of any derivative work must include the above copyright notice, this
//  paragraph and the one after it.  Any distribution of this software or
//  derivative works must comply with all applicable laws.

//  This software is made available AS IS, and COPYRIGHT OWNERS DISCLAIMS
//  ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
//  PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
//  LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
//  EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
//  NEGLIGENCE) OR STRICT LIABILITY, EVEN IF COPYRIGHT OWNERS ARE ADVISED
//  OF THE POSSIBILITY OF SUCH DAMAGES.


#include "mega/native_types.hpp"
#include "mega/reference.hpp"
#include "service/protocol/common/mpo_context_interface.hpp" 
#include "jit/object_functions.hxx"
#include "jit/relation_functions.hxx"
#include "jit/jit_exception.hpp"

static const char* g_pszModuleName = "object_{{ objectTypeID }}";

namespace mega::mangle
{
    void xml_save_begin_structure( const mega::reference&, void* );
    void xml_save_end_structure( const mega::reference&, void* );
    void xml_save_begin_data( const mega::reference&, const char*,bool, void* );
    void xml_save_end_data( const mega::reference&, const char*,bool, void* );

    void xml_load_begin_structure( const mega::reference&, const char*,bool, void* );
    void xml_load_end_structure( const mega::reference&, const char*,bool, void* );
    void xml_load_begin_data( const mega::reference&, const char*,bool, void* );
    void xml_load_end_data( const mega::reference&, const char*,bool, void* );
    void xml_load_allocation( const mega::reference&, void* );

    mega::U64 xml_load_tag_count( void* );
    bool xml_is_tag( const char*, void* );

    mega::U64 ref_vector_get_size( void* );
    mega::reference& ref_vector_get_at( void*, mega::U64 );

{% for type in mangled_data_types %}
    void new_{{type}}(void*);
    void delete_{{type}}(void*);
    void save_xml_{{type}}(void*,const char*,void*);
    void load_xml_{{type}}(void*,const char*,void*);
    void save_bin_{{type}}(void*,void*);
    void load_bin_{{type}}(void*,void*);
{% endfor %}
}

void ctor_{{ objectTypeID }}( void* pBuffer )
{
{% for part in parts %}
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }} )
    {
{% for member in part.members %}
        mega::mangle::new_{{member.mangle}}( pIter + {{ member.offset }} ); // {{ member.type }} {{ member.name }}
{% endfor %}
{% for member in part.links %}
        mega::mangle::new_{{member.mangle}}( pIter + {{ member.offset }} ); // {{ member.type }} {{ member.name }}
{% endfor %}
    }
{% endfor %}
}

void dtor_{{ objectTypeID }}( void* pBuffer )
{
{% for part in parts %}
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }} )
    {
{% for member in part.members %}
        mega::mangle::delete_{{member.mangle}}( pIter + {{ member.offset }} ); // {{ member.type }} {{ member.name }}
{% endfor %}
{% for member in part.links %}
        mega::mangle::delete_{{member.mangle}}( pIter + {{ member.offset }} ); // {{ member.type }} {{ member.name }}
{% endfor %}
    }
{% endfor %}
}

void save_object_bin_{{ objectTypeID }}( void* pBuffer, void* pSerialiser )
{
{% for part in parts %}
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }} )
    {
{% for member in part.members %}
        mega::mangle::save_bin_{{member.mangle}}( pIter + {{ member.offset }}, pSerialiser ); // {{ member.type }} {{ member.name }}
{% endfor %}
{% for member in part.links %}
        mega::mangle::save_bin_{{member.mangle}}( pIter + {{ member.offset }}, pSerialiser ); // {{ member.type }} {{ member.name }}
{% endfor %}
    }
{% endfor %}
}

void load_object_bin_{{ objectTypeID }}( void* pBuffer, void* pSerialiser )
{
{% for part in parts %}
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }} )
    {
{% for member in part.members %}
        mega::mangle::load_bin_{{member.mangle}}( pIter + {{ member.offset }}, pSerialiser ); // {{ member.type }} {{ member.name }}
{% endfor %}
{% for member in part.links %}
        mega::mangle::load_bin_{{member.mangle}}( pIter + {{ member.offset }}, pSerialiser ); // {{ member.type }} {{ member.name }}
{% endfor %}
    }
{% endfor %}
}

void save_object_xml_structure_{{ objectTypeID }}( mega::reference ref, void* pSerialiser )
{
    mega::mangle::xml_save_begin_structure( ref, pSerialiser );

    char* pBuffer = reinterpret_cast< char* >( ref.getHeap() );

{%  for element in elements %}
{%      if element.is_part_begin %}
    // {{ element.name }}
    for( mega::U64 {{ element.iter }} = {{ element.start }}; {{ element.iter }} != {{ element.end }}; ++{{ element.iter }} )
    {
{%      else if element.is_part_end %}
    }
{%      else if element.owning %}
{%          if element.singular %}
    {
        mega::reference& linkRef = *reinterpret_cast< mega::reference* >( pBuffer + {{ element.offset }} );
        if( linkRef.is_valid() )
        {
            switch( linkRef.getType() )
            {
{%              for type in element.types %}
                case {{ type.link_type_id }}:
                {
                    static thread_local mega::runtime::object::ObjectSaveXMLStructure function( g_pszModuleName, {{ type.object_type_id }} );
                    function( mega::reference::make( linkRef, {{ type.object_type_id }} ), pSerialiser );
                }
                break;
{%              endfor %}
            }
        }
    }
{%          else %}
    {
        char* pLinkData = pBuffer + {{ element.offset }};
        for( mega::U64 i = 0U, iCount = mega::mangle::ref_vector_get_size( pLinkData ); i != iCount; ++i )
        {
            mega::reference& linkRef = mega::mangle::ref_vector_get_at( pLinkData, i );
            if( linkRef.is_valid() )
            {
                switch( linkRef.getType() )
                {
{%              for type in element.types %}
                    case {{ type.link_type_id }}:
                    {
                        static thread_local mega::runtime::object::ObjectSaveXMLStructure function( g_pszModuleName, {{ type.object_type_id }} );
                        function( mega::reference::make( linkRef, {{ type.object_type_id }} ), pSerialiser );
                    }
                    break;
{%              endfor %}
                }
            }
        }
    }
{%          endif %}
{%      endif %}
{%  endfor %}

    mega::mangle::xml_save_end_structure( ref, pSerialiser );
}

void save_object_xml_{{ objectTypeID }}( mega::reference ref, void* pSerialiser )
{
    char* pBuffer = reinterpret_cast< char* >( ref.getHeap() );

{%  for element in elements %}
{%      if element.is_part_begin %}
    for( mega::U64 {{ element.iter }} = {{ element.start }}; {{ element.iter }} != {{ element.end }}; ++{{ element.iter }} )
    {
{%          if element.is_object %}
        mega::mangle::xml_save_begin_data( ref, "{{element.name}}", true, pSerialiser );
{%          else %}
        mega::mangle::xml_save_begin_data( ref, "{{element.name}}", false, pSerialiser );
{%          endif %}
{%      else if element.is_part_end %}
{%          if element.is_object %}
        mega::mangle::xml_save_end_data( ref, "{{element.name}}", true, pSerialiser );
{%          else %}
        mega::mangle::xml_save_end_data( ref, "{{element.name}}", false, pSerialiser );
{%          endif %}
    }
{%      else if element.owning %}
{%          if element.singular %}
    {
        mega::reference& linkRef = *reinterpret_cast< mega::reference* >( pBuffer + {{ element.offset }} );
        if( linkRef.is_valid() )
        {
            switch( linkRef.getType() )
            {
{% for          type in element.types %}
                case {{ type.link_type_id }}:
                {
                    static thread_local mega::runtime::object::ObjectSaveXML function( g_pszModuleName, {{ type.object_type_id }} );
                    function( mega::reference::make( linkRef, {{ type.object_type_id }} ), pSerialiser );
                }
                break;
{%              endfor %}
            }
        }
    }
{%          else %}
    {
        char* pLinkData = pBuffer + {{ element.offset }};
        for( mega::U64 i = 0U, iCount = mega::mangle::ref_vector_get_size( pLinkData ); i != iCount; ++i )
        {
            mega::reference& linkRef = mega::mangle::ref_vector_get_at( pLinkData, i );
            if( linkRef.is_valid() )
            {
                switch( linkRef.getType() )
                {
{%              for type in element.types %}
                    case {{ type.link_type_id }}:
                    {
                        static thread_local mega::runtime::object::ObjectSaveXML function( g_pszModuleName, {{ type.object_type_id }} );
                        function( mega::reference::make( linkRef, {{ type.object_type_id }} ), pSerialiser );
                    }
                    break;
{%              endfor %}
                }
            }
        }
    }
{%          endif %}
{%      else %}
    mega::mangle::save_xml_{{element.mangle}}( pBuffer + {{ element.offset }}, "{{ element.name }}", pSerialiser ); // {{ element.type }} 
{%      endif %}
{%  endfor %}
}

void load_object_xml_structure_{{ objectTypeID }}( mega::reference ref, void* pSerialiser )
{
    char* pBuffer = reinterpret_cast< char* >( ref.getHeap() );

{%  for element in elements %}
{%      if element.is_part_begin %}
    for( mega::U64 {{ element.iter }} = {{ element.start }}; {{ element.iter }} != {{ element.end }}; ++{{ element.iter }} )
    {
{%          if element.is_object %}
        mega::mangle::xml_load_begin_structure( ref, "{{element.name}}", true, pSerialiser );
{%          else %}
        mega::mangle::xml_load_begin_structure( ref, "{{element.name}}", false, pSerialiser );
{%          endif %}
{%      else if element.is_part_end %}
{%          if element.is_object %}
        mega::mangle::xml_load_end_structure( ref, "{{element.name}}", true, pSerialiser );
{%          else %}
        mega::mangle::xml_load_end_structure( ref, "{{element.name}}", false, pSerialiser );
{%          endif %}
    }
{%      else if element.owning %}
{%          if element.singular %}
    {
        const mega::reference parentLinkInterface = mega::reference::make( ref, 
                mega::TypeInstance{ {{ element.concrete_id }}, static_cast< mega::Instance >( {{ element.instance }} ) } );
        mega::reference& linkRef = *reinterpret_cast< mega::reference* >( pBuffer + {{ element.offset }} );
        if( linkRef.is_valid() )
        {
            // unlink
            static thread_local mega::runtime::relation::LinkBreak function( g_pszModuleName, mega::RelationID{ {{ element.relationID }} } );
{%              if element.source %}
            function( parentLinkInterface, linkRef );
{%              else %}
            function( linkRef, parentLinkInterface );
{%              endif %}
        }
        const mega::U64 iCount = mega::mangle::xml_load_tag_count( pSerialiser );
        if( iCount != 0 )
        {
{%              for type in element.types %}
        if( mega::mangle::xml_is_tag( "{{ type.full_name }}", pSerialiser ) )
        {
            const mega::reference newObject = mega::runtime::allocate( parentLinkInterface, mega::TypeID{ {{ type.object_type_id }} } );

            static thread_local mega::runtime::relation::LinkMake linkMakeFunction( g_pszModuleName, mega::RelationID{ {{ element.relationID }} } );
{%                  if element.source %}
            linkMakeFunction( parentLinkInterface, mega::reference::make( newObject, {{ type.link_type_id }} ) );
{%                  else %}
            linkMakeFunction( mega::reference::make( newObject, {{ type.link_type_id }} ), parentLinkInterface );
{%                  endif %}

            mega::mangle::xml_load_allocation( newObject, pSerialiser );

            static thread_local mega::runtime::object::ObjectLoadXMLStructure recursiveLoadFunction( g_pszModuleName, {{ type.object_type_id }} );
            recursiveLoadFunction( newObject, pSerialiser );
        }
{%              endfor %}
        }
    }
{%          else %}
    {
        const mega::reference parentLinkInterface = mega::reference::make( ref, 
                mega::TypeInstance{ {{ element.concrete_id }}, static_cast< mega::Instance >( {{ element.instance }} ) } );
        char* pLinkData = pBuffer + {{ element.offset }};

        for( mega::U64 i = 0U, iCount = mega::mangle::ref_vector_get_size( pLinkData ); i != iCount; ++i )
        {
            mega::reference& linkRef = mega::mangle::ref_vector_get_at( pLinkData, 0 );
            if( linkRef.is_valid() )
            {
            // unlink
            static thread_local mega::runtime::relation::LinkBreak function( g_pszModuleName, mega::RelationID{ {{ element.relationID }} } );
{%              if element.source %}
            function( parentLinkInterface, linkRef );
{%              else %}
            function( linkRef, parentLinkInterface );
{%              endif %}
            }
        }
        if( mega::mangle::ref_vector_get_size( pLinkData ) != 0 )
        {
            throw mega::runtime::JITException( "load_object_xml_structure_{{ objectTypeID }} error resetting non-singular link" );
        }
        
        const mega::U64 iCount = mega::mangle::xml_load_tag_count( pSerialiser );
        for( mega::U64 i = 0U; i != iCount; ++i )
        {
{%              for type in element.types %}
            {% if ( not loop.is_first ) %}else {% endif %}if( mega::mangle::xml_is_tag( "{{ type.full_name }}", pSerialiser ) )
            {
                const mega::reference newObject = mega::runtime::allocate( parentLinkInterface, mega::TypeID{ {{ type.object_type_id }} } );

            static thread_local mega::runtime::relation::LinkMake linkMakeFunction( g_pszModuleName, mega::RelationID{ {{ element.relationID }} } );
{%                  if element.source %}
            linkMakeFunction( parentLinkInterface, mega::reference::make( newObject, {{ type.link_type_id }} ) );
{%                  else %}
            linkMakeFunction( mega::reference::make( newObject, {{ type.link_type_id }} ), parentLinkInterface );
{%                  endif %}

                mega::mangle::xml_load_allocation( newObject, pSerialiser );
                static thread_local mega::runtime::object::ObjectLoadXMLStructure recursiveLoadFunction( g_pszModuleName, {{ type.object_type_id }} );
                recursiveLoadFunction( newObject, pSerialiser );
            }
{%              endfor %}
        }
        if( mega::mangle::ref_vector_get_size( pLinkData ) != iCount )
        {
            throw mega::runtime::JITException( "load_object_xml_structure_{{ objectTypeID }} error setting non-singular link" );
        }
    }
{%          endif %}
{%      endif %}
{%  endfor %}
}

void load_object_xml_{{ objectTypeID }}( mega::reference ref, void* pSerialiser )
{
    char* pBuffer = reinterpret_cast< char* >( ref.getHeap() );

{%  for element in elements %}
{%      if element.is_part_begin %}
    for( mega::U64 {{ element.iter }} = {{ element.start }}; {{ element.iter }} != {{ element.end }}; ++{{ element.iter }} )
    {
{%          if element.is_object %}
        mega::mangle::xml_load_begin_data( ref, "{{element.name}}", true, pSerialiser );
{%          else %}
        mega::mangle::xml_load_begin_data( ref, "{{element.name}}", false, pSerialiser );
{%          endif %}
{%      else if element.is_part_end %}
{%          if element.is_object %}
        mega::mangle::xml_load_end_data( ref, "{{element.name}}", true, pSerialiser );
{%          else %}
        mega::mangle::xml_load_end_data( ref, "{{element.name}}", false, pSerialiser );
{%          endif %}
    }
{%      else if element.owning %}
{%          if element.singular %}
    {
{%              for type in element.types %}
        {
            mega::reference& linkRef = *reinterpret_cast< mega::reference* >( pBuffer + {{ element.offset }} );
            if( linkRef.is_valid() )
            {
                static thread_local mega::runtime::object::ObjectLoadXML function( g_pszModuleName, {{ type.object_type_id }} );
                function( mega::reference::make( linkRef, {{ type.object_type_id }} ), pSerialiser );
            }
        }
{%              endfor %}
    }
{%          else %}
    {
        char* pLinkData = pBuffer + {{ element.offset }};
        for( mega::U64 i = 0U, iCount = mega::mangle::ref_vector_get_size( pLinkData ); i != iCount; ++i )
        {
            mega::reference& linkRef = mega::mangle::ref_vector_get_at( pLinkData, i );
            if( linkRef.is_valid() )
            {
                switch( linkRef.getType() )
                {
{%              for type in element.types %}
                    case {{ type.link_type_id }}:
                    {
                        static thread_local mega::runtime::object::ObjectLoadXML function( g_pszModuleName, {{ type.object_type_id }} );
                        function( mega::reference::make( linkRef, {{ type.object_type_id }} ), pSerialiser );
                    }
                    break;
{%              endfor %}
                    default:
                    {
                        throw mega::runtime::JITException( "load_object_xml_{{ objectTypeID }} failed to load link" );
                    }
                }
            }
        }
    }
{%          endif %}
{%      else %}
    mega::mangle::load_xml_{{element.mangle}}( pBuffer + {{ element.offset }}, "{{ element.name }}", pSerialiser ); // {{ element.type }} 
{%      endif %}
{%  endfor %}
}
