//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
//  Author: Edward Deighton
//  License: Please see license.txt in the project root folder.

//  Use and copying of this software and preparation of derivative works
//  based upon this software are permitted. Any copy of this software or
//  of any derivative work must include the above copyright notice, this
//  paragraph and the one after it.  Any distribution of this software or
//  derivative works must comply with all applicable laws.

//  This software is made available AS IS, and COPYRIGHT OWNERS DISCLAIMS
//  ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
//  PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
//  LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
//  EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
//  NEGLIGENCE) OR STRICT LIABILITY, EVEN IF COPYRIGHT OWNERS ARE ADVISED
//  OF THE POSSIBILITY OF SUCH DAMAGES.


#include "mega/native_types.hpp"
#include "mega/reference.hpp"
#include "service/protocol/common/mpo_context_interface.hpp" 
#include "jit/object_functions.hxx"
#include "jit/relation_functions.hxx"
#include "jit/jit_exception.hpp"

static const char* g_pszModuleName = "object_{{ objectTypeID }}";

namespace mega::mangle
{
{% for type in mangled_data_types %}
    void new_{{type}}(void*);
    void delete_{{type}}(void*);
    void save_bin_{{type}}(void*,void*);
    void load_bin_{{type}}(void*,void*);
{% endfor %}

    mega::TypeID iterator_object_typeid( void* );
    void iterator_object_start( void*, mega::TypeID );
    void iterator_object_end( void* );
    void iterator_action_start( void*, mega::TypeID );
    void iterator_action_end( void*, mega::TypeID );
    void iterator_event_start( void*, mega::TypeID );
    void iterator_event_end( void*, mega::TypeID );
    void iterator_link_start( void*, mega::TypeID );
    void iterator_link_end( void*, mega::TypeID );
    void iterator_interupt_start( void*, mega::TypeID );
    void iterator_interupt_end( void*, mega::TypeID );
    void iterator_function_start( void*, mega::TypeID );
    void iterator_function_end( void*, mega::TypeID );
    void iterator_namespace_start( void*, mega::TypeID );
    void iterator_namespace_end( void*, mega::TypeID );
    void iterator_dimension( void*, mega::TypeID );
}

void ctor_{{ objectTypeID }}( void* pBuffer )
{
{% for part in parts %}
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }} )
    {
{% for member in part.members %}
        mega::mangle::new_{{member.mangle}}( pIter + {{ member.offset }} ); // {{ member.type }} {{ member.name }}
{% endfor %}
{% for member in part.links %}
        mega::mangle::new_{{member.mangle}}( pIter + {{ member.offset }} ); // {{ member.type }} {{ member.name }}
{% endfor %}
    }
{% endfor %}
}

void dtor_{{ objectTypeID }}( mega::reference ref, void* pBuffer )
{
{% for part in parts %}
{
    mega::Instance instance = 0;
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }}, ++instance )
    {
{% for member in part.members %}
        mega::mangle::delete_{{member.mangle}}( pIter + {{ member.offset }} ); // {{ member.type }} {{ member.name }}
{% endfor %}
{% for link in part.links %}
{% if link.owning %}
    {
        const mega::reference linkRef = mega::reference::make( ref, 
                mega::TypeInstance{ {{ link.link_type_id }}, static_cast< mega::Instance >( instance ) } );
        static thread_local mega::runtime::relation::LinkReset function( 
            g_pszModuleName, mega::RelationID{ {{ link.relation_id_lower }}, {{ link.relation_id_upper }} } );
        function( linkRef );
        mega::mangle::delete_{{link.mangle}}( pIter + {{ link.offset }} ); // {{ link.type }} {{ link.name }}
    }
{% endif %}
{% endfor %}
    }
}
{% endfor %}
}

void save_object_bin_{{ objectTypeID }}( void* pBuffer, void* pSerialiser )
{
{% for part in parts %}
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }} )
    {
{% for member in part.members %}
        mega::mangle::save_bin_{{member.mangle}}( pIter + {{ member.offset }}, pSerialiser ); // {{ member.type }} {{ member.name }}
{% endfor %}
{% for member in part.links %}
        mega::mangle::save_bin_{{member.mangle}}( pIter + {{ member.offset }}, pSerialiser ); // {{ member.type }} {{ member.name }}
{% endfor %}
    }
{% endfor %}
}

void load_object_bin_{{ objectTypeID }}( void* pBuffer, void* pSerialiser )
{
{% for part in parts %}
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }} )
    {
{% for member in part.members %}
        mega::mangle::load_bin_{{member.mangle}}( pIter + {{ member.offset }}, pSerialiser ); // {{ member.type }} {{ member.name }}
{% endfor %}
{% for member in part.links %}
        mega::mangle::load_bin_{{member.mangle}}( pIter + {{ member.offset }}, pSerialiser ); // {{ member.type }} {{ member.name }}
{% endfor %}
    }
{% endfor %}
}

void unparent_{{ objectTypeID }}( mega::reference ref )
{
    if( ref.getMPO() != mega::runtime::getThisMPO() )
    {
        mega::runtime::readLock( ref );
    }
    else if( ref.isNetworkAddress() )
    {
        mega::runtime::networkToHeap( ref );
    }

    void* pBuffer = ref.getHeap();

{% for part in parts %}
{
    mega::Instance instance = 0;
    for( char* pIter = (char*)pBuffer + {{ part.offset }}, *pEnd = pIter + {{ part.total_domain }} * {{ part.size }}; pIter != pEnd; pIter += {{ part.size }}, ++instance )
    {
{% for link in part.links %}
{% if link.owned %}
    {
        const mega::reference linkRef = mega::reference::make( ref, 
                mega::TypeInstance{ {{ link.link_type_id }}, static_cast< mega::Instance >( instance ) } );
        static thread_local mega::runtime::relation::LinkReset function( 
            g_pszModuleName, mega::RelationID{ {{ link.relation_id_lower }}, {{ link.relation_id_upper }} } );
        function( linkRef );
    }
{% endif %}
{% endfor %}
    }
}
{% endfor %}
}

void traverse_{{ objectTypeID }}( void* pIterator )
{
    switch( mega::mangle::iterator_object_typeid( pIterator ) )
    {
{%  for state in states %}
        case {{ state.value }}: // {{ state.name }} {% if state.start %}START{% else %}END{% endif %}

{% if state.type == "object" %}
{% if state.start %}
            mega::mangle::iterator_object_start( pIterator, mega::TypeID{ {{ state.successor }} } );
{% else %}
            mega::mangle::iterator_object_end( pIterator );
{% endif %}
{% else if state.type == "action" %}
{% if state.start %}
            mega::mangle::iterator_action_start( pIterator, mega::TypeID{ {{ state.successor }} } );
{% else %}
            mega::mangle::iterator_action_end( pIterator, mega::TypeID{ {{ state.successor }} } );
{% endif %}
{% else if state.type == "event" %}
{% if state.start %}
            mega::mangle::iterator_event_start( pIterator, mega::TypeID{ {{ state.successor }} } );
{% else %}
            mega::mangle::iterator_event_end( pIterator, mega::TypeID{ {{ state.successor }} } );
{% endif %}
{% else if state.type == "link" %}
{% if state.start %}
            mega::mangle::iterator_link_start( pIterator, mega::TypeID{ {{ state.successor }} } );
{% else %}
            mega::mangle::iterator_link_end( pIterator, mega::TypeID{ {{ state.successor }} } );
{% endif %}
{% else if state.type == "dimension" %}
            mega::mangle::iterator_dimension( pIterator, mega::TypeID{ {{ state.successor }} } );
{% else if state.type == "interupt" %}
{% if state.start %}
            mega::mangle::iterator_interupt_start( pIterator, mega::TypeID{ {{ state.successor }} } );
{% else %}
            mega::mangle::iterator_interupt_end( pIterator, mega::TypeID{ {{ state.successor }} } );
{% endif %}
{% else if state.type == "function" %}
{% if state.start %}
            mega::mangle::iterator_function_start( pIterator, mega::TypeID{ {{ state.successor }} } );
{% else %}
            mega::mangle::iterator_function_end( pIterator, mega::TypeID{ {{ state.successor }} } );
{% endif %}
{% else if state.type == "namespace" %}
{% if state.start %}
            mega::mangle::iterator_namespace_start( pIterator, mega::TypeID{ {{ state.successor }} } );
{% else %}
            mega::mangle::iterator_namespace_end( pIterator, mega::TypeID{ {{ state.successor }} } );
{% endif %}
{% endif %}
        break;
{%  endfor %}
        default:
            throw mega::runtime::JITException{ "Unknown concrete type id" };
        break;
    }
}
