//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
//  Author: Edward Deighton
//  License: Please see license.txt in the project root folder.

//  Use and copying of this software and preparation of derivative works
//  based upon this software are permitted. Any copy of this software or
//  of any derivative work must include the above copyright notice, this
//  paragraph and the one after it.  Any distribution of this software or
//  derivative works must comply with all applicable laws.

//  This software is made available AS IS, and COPYRIGHT OWNERS DISCLAIMS
//  ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
//  PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
//  LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
//  EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
//  NEGLIGENCE) OR STRICT LIABILITY, EVEN IF COPYRIGHT OWNERS ARE ADVISED
//  OF THE POSSIBILITY OF SUCH DAMAGES.


#include "mega/values/native_types.hpp"
#include "mega/values/runtime/reference.hpp"
#include "mega/values/compilation/relation_id.hpp"
#include "mega/values/runtime/any.hpp"
#include "service/protocol/common/mpo_context_interface.hpp" 
#include "jit/object_functions.hxx"
#include "jit/relation_functions.hxx"
#include "jit/jit_exception.hpp"

namespace mega::mangle
{
{% for record_type in record_types %}
    void load_record_{{record_type}}(void*,void*,mega::U64);
    void save_record_{{record_type}}(const reference&,const void*);
{% endfor %}

    mega::TypeID iterator_state( void* );
    void transition( const mega::reference& );
}

void object_save_bin( mega::TypeID objectTypeID, void* pData, void* pSerialiser )
{
    switch( objectTypeID.getSymbolID() )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::ObjectSaveBin objectSaveBin( "simulation", mega::TypeID{ {{ type }} } );
            objectSaveBin( pData, pSerialiser );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program Unknown type in object_save_bin" };
        }
        break;
    }
}

void object_load_bin( mega::TypeID objectTypeID, void* pData, void* pSerialiser )
{
    switch( objectTypeID.getSymbolID() )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::ObjectLoadBin objectLoadBin( "simulation", mega::TypeID{ {{ type }} } );
            objectLoadBin( pData, pSerialiser );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program Unknown type in object_load_bin" };
        }
        break;
    }
}

void record_load_bin( mega::reference ref, void* pData, mega::U64 size )
{
    if( ref.isNetworkAddress() )
    {
        mega::runtime::networkToHeap( ref );
    }

    switch( ref.getType().getSymbolID() )
    {
{% for type in dimension_types %}
        case {{ type.type_id }}:
        {
            void* pTarget = 
                reinterpret_cast< char* >( ref.getHeap() )
                + {{ type.part_offset }} + ( {{ type.part_size }} * ref.getInstance() ) 
                + {{ type.dimension_offset }};
            mega::mangle::load_record_{{ type.mangled_type_name }}( pTarget, pData, size );
            mega::mangle::save_record_{{ type.mangled_type_name }}( ref, pTarget );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program Unknown type in object_load_bin" };
        }
        break;
    }
}

mega::TypeID concrete_to_interface( mega::TypeID concreteTypeID )
{
    switch( concreteTypeID.getSymbolID() )
    {
{% for type in concrete_types %}
        case {{ type.concrete }}: return mega::TypeID( {{ type.interface }} );
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program concrete_to_interface Unknown concrete type id" };
        }
        break;
    }
}

void record_make( mega::reference source, mega::reference target, mega::U64 relationID )
{
    switch( relationID )
    {
{% for relation in relation_types %}
        case {{ relation.id }}:
        {
            static thread_local mega::runtime::relation::LinkMake 
                linkMake( "simulation", mega::RelationID( 
                    mega::TypeID( {{ relation.lower }} ), 
                    mega::TypeID( {{ relation.upper }} ) ) );
            linkMake( source, target );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program Unknown relationID" };
        }
        break;
    }
}

void record_break( mega::reference source, mega::reference target, mega::U64 relationID )
{
    switch( relationID )
    {
{% for relation in relation_types %}
        case {{ relation.id }}:
        {
            static thread_local mega::runtime::relation::LinkBreak 
                linkBreak( "simulation", mega::RelationID( 
                    mega::TypeID( {{ relation.lower }} ), 
                    mega::TypeID( {{ relation.upper }} ) ) );
            linkBreak( source, target );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program Unknown relationID" };
        }
        break;
    }
}

void traverse( void* pIterator )
{
    switch( mega::TypeID::make_object_from_typeID(
            mega::TypeID::make_start_state( 
            mega::mangle::iterator_state( pIterator ) ) ) )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::ObjectTraverse objectTraverse( "simulation", mega::TypeID{ {{ type }} } );
            objectTraverse( pIterator );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program traverse Unknown concrete type id" };
        }
        break;
    }
}

mega::U64 link_size( mega::reference ref )
{
    switch( mega::TypeID::make_object_from_typeID( ref.getType() ) )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::LinkSize linkSizeFPtr( "simulation", mega::TypeID{ {{ type }} } );
            return linkSizeFPtr( ref );
        }
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program link_size Unknown concrete type id" };
        }
        break;
    }
}

mega::reference link_get( mega::reference ref, mega::U64 index )
{
    switch( mega::TypeID::make_object_from_typeID( ref.getType() ) )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::LinkGet linkGetFPtr( "simulation", mega::TypeID{ {{ type }} } );
            return linkGetFPtr( ref, index );
        }
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program link_get Unknown concrete type id" };
        }
        break;
    }
}

mega::Any read_any( mega::reference ref )
{
    switch( mega::TypeID::make_object_from_typeID( ref.getType() ) )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::ReadAny readAnyFPtr( "simulation", mega::TypeID{ {{ type }} } );
            return readAnyFPtr( ref );
        }
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program read_any Unknown concrete type id" };
        }
        break;
    }
}

void write_any( mega::reference ref, mega::Any value )
{
    switch( mega::TypeID::make_object_from_typeID( ref.getType() ) )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::WriteAny writeAnyFPtr( "simulation", mega::TypeID{ {{ type }} } );
            return writeAnyFPtr( ref, value );
        }
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program write_any Unknown concrete type id" };
        }
        break;
    }
}

mega::SubTypeInstance enumerate( mega::reference& ref, mega::U32& iterator )
{
    switch( mega::TypeID::make_object_from_typeID( ref.getType() ) )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::Enumerate objectEnumerate( "simulation", mega::TypeID{ {{ type }} } );
            return objectEnumerate( ref, iterator );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "program Unknown type in object_load_bin" };
        }
        break;
    }
}

void dispatch( const mega::reference& event )
{
    switch( event.getType() )
    {
{%  for event in event_types %}
        case {{ event.type_id }}:
        {
{%      for handler in event.handlers %}
            // {{ handler.comment }}
{%          if handler.has_dispatch %}
            {
                {{ handler.code }}
            }
{%          else if handler.has_transition %}
            mega::mangle::transition
            ( 
                mega::reference::make
                ( 
                    event, 
                    mega::TypeInstance
                    ( 
                        event.getType().getObjectID(), 
                        mega::SubTypeInstance{ {{ handler.transition_sub_type }}, 
                            static_cast< mega::SubType >( event.getInstance() / {{ handler.transition_divider }}U ) } 
                    ) 
                ) 
            );
{%          endif %}  
        }
        break;
{%      endfor %}
{%  endfor %}
        default:
        {
        }
        break;
    }
}