//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
//  Author: Edward Deighton
//  License: Please see license.txt in the project root folder.

//  Use and copying of this software and preparation of derivative works
//  based upon this software are permitted. Any copy of this software or
//  of any derivative work must include the above copyright notice, this
//  paragraph and the one after it.  Any distribution of this software or
//  derivative works must comply with all applicable laws.

//  This software is made available AS IS, and COPYRIGHT OWNERS DISCLAIMS
//  ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
//  PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
//  LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
//  EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
//  NEGLIGENCE) OR STRICT LIABILITY, EVEN IF COPYRIGHT OWNERS ARE ADVISED
//  OF THE POSSIBILITY OF SUCH DAMAGES.


#include "mega/native_types.hpp"
#include "mega/reference.hpp"
#include "service/protocol/common/mpo_context_interface.hpp" 
#include "jit/object_functions.hxx"
#include "jit/jit_exception.hpp"

namespace mega::mangle
{
{% for event in events %}
    void load_record_{{event}}(void*,void*,mega::U64);
{% endfor %}
}

void object_save_bin( mega::TypeID objectTypeID, void* pData, void* pSerialiser )
{
    switch( objectTypeID )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::ObjectSaveBin objectSaveBin( "simulation", {{ type }} );
            objectSaveBin( pData, pSerialiser );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "Unknown type in object_save_bin" };
        }
        break;
    }
}

void object_load_bin( mega::TypeID objectTypeID, void* pData, void* pSerialiser )
{
    switch( objectTypeID )
    {
{% for type in object_types %}
        case {{ type }}:
        {
            static thread_local mega::runtime::object::ObjectLoadBin objectLoadBin( "simulation", {{ type }} );
            objectLoadBin( pData, pSerialiser );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "Unknown type in object_load_bin" };
        }
        break;
    }
}

mega::TypeID get_object_type_id( mega::TypeID typeID )
{
    switch( typeID )
    {
{% for type in concrete_types %}
        case {{ type.from }}: return {{ type.to }};
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "Unknown type in object_load_bin" };
        }
        break;
    }
}

void record_load_bin( mega::reference ref, void* pData, mega::U64 size )
{
    if( ref.isNetworkAddress() )
    {
        // check if read lock needed here?
        // mega::runtime::readLock( ref );
        mega::reference objectRef = mega::reference::make( ref, get_object_type_id( ref.getType() ) );
        mega::runtime::networkToHeap( objectRef );
        ref = mega::reference::make( objectRef, ref.getType() );
    }

    switch( ref.getType() )
    {
{% for type in dimension_types %}
        case {{ type.type_id }}:
        {
            void* pTarget = 
                reinterpret_cast< char* >( ref.getHeap() )
                + {{ type.part_offset }} + ( {{ type.part_size }} * ref.getInstance() ) 
                + {{ type.dimension_offset }};
            mega::mangle::load_record_{{ type.mangled_type_name }}( pTarget, pData, size );
        }
        break;
{% endfor %}
        default:
        {
            throw mega::runtime::JITException{ "Unknown type in object_load_bin" };
        }
        break;
    }
}