//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
//  Author: Edward Deighton
//  License: Please see license.txt in the project root folder.

//  Use and copying of this software and preparation of derivative works
//  based upon this software are permitted. Any copy of this software or
//  of any derivative work must include the above copyright notice, this
//  paragraph and the one after it.  Any distribution of this software or
//  derivative works must comply with all applicable laws.

//  This software is made available AS IS, and COPYRIGHT OWNERS DISCLAIMS
//  ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
//  PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
//  LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
//  EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
//  NEGLIGENCE) OR STRICT LIABILITY, EVEN IF COPYRIGHT OWNERS ARE ADVISED
//  OF THE POSSIBILITY OF SUCH DAMAGES.


#include "mega/native_types.hpp"
#include "mega/reference.hpp"

#include "service/protocol/common/mpo_context_interface.hpp" 

#include "jit/object_functions.hxx"
#include "jit/jit_exception.hpp"

namespace mega::mangle
{
    void structure_make( const mega::reference& source, const mega::reference& target, mega::U64 relationID );
    void structure_make_source( const mega::reference& source, const mega::reference& target, mega::U64 relationID );
    void structure_make_target( const mega::reference& source, const mega::reference& target, mega::U64 relationID );
    void structure_break( const mega::reference& source, const mega::reference& target, mega::U64 relationID );
    void structure_break_source( const mega::reference& source, const mega::reference& target, mega::U64 relationID );
    void structure_break_target( const mega::reference& source, const mega::reference& target, mega::U64 relationID );

    bool ref_vector_contains( void* pData, const mega::reference& ref );
    void ref_vector_remove( void* pData, const mega::reference& ref );
    void ref_vector_add( void* pData, const mega::reference& ref );
    bool ref_vector_empty( void* pData );
    mega::reference ref_vector_back( void* pData );
    void ref_vector_pop( void* pData );

    void log( const char* );
}

void prepare( mega::reference& ref )
{
    if( ref.is_valid() )
    {
        if( ref.getMPO() != mega::runtime::getThisMPO() )
        {
            mega::runtime::writeLock( ref );
        }
        else if( ref.isNetworkAddress() )
        {
            mega::runtime::networkToHeap( ref );
        }
    }
}

bool isSource( const mega::reference& ref )
{
    switch( ref.getType() )
    {
{% for source in sources %}
        case {{ source.type }} : return true;
{% endfor %}
    }
    return false;
}

bool isTarget( const mega::reference& ref )
{
    switch( ref.getType() )
    {
{% for target in targets %}
        case {{ target.type }} : return true;
{% endfor %}
    }
    return false;
}

void* getSourceData( const mega::reference& ref )
{
    switch( ref.getType() )
    {
{% for source in sources %}
        case {{ source.type }} : 
        {
            return reinterpret_cast< char* >( ref.getHeap() )
                + {{ source.part_offset }} + ( {{ source.part_size }} * ref.getInstance() ) 
                + {{ source.dimension_offset }};
        }
        break;
{% endfor %}
        default:
            throw mega::runtime::JITException{ "Invalid source type for link in relation: {{ relationID }}" };
    }
    return nullptr;
}

void* getTargetData( const mega::reference& ref )
{
    switch( ref.getType() )
    {
{% for target in targets %}
        case {{ target.type }} : 
        {
            return reinterpret_cast< char* >( ref.getHeap() )
                + {{ target.part_offset }} + ( {{ target.part_size }} * ref.getInstance() ) 
                + {{ target.dimension_offset }};
        }
        break;
{% endfor %}
        default:
            throw mega::runtime::JITException{ "Invalid target type for link in relation: {{ relationID }}" };
    }
    return nullptr;
}

void structureBreak( const mega::reference& source, const mega::reference& target )
{
{% if source_owned %}
    source.decRefCount();
    mega::mangle::structure_break_source( source, target, {{ relationID }} );
{% else if target_owned %}
    target.decRefCount();
    mega::mangle::structure_break_target( source, target, {{ relationID }} );
{% else %}
    mega::mangle::structure_break( source, target, {{ relationID }} );
{% endif %}
}

void structureMake( const mega::reference& source, const mega::reference& target )
{
{% if source_owned %}
    source.incRefCount();
    mega::mangle::structure_make_source( source, target, {{ relationID }} );
{% else if target_owned %}
    target.incRefCount();
    mega::mangle::structure_make_target( source, target, {{ relationID }} );
{% else %}
    mega::mangle::structure_make( source, target, {{ relationID }} );
{% endif %}
}

{% if source_singular %}
{%      if target_singular %}
void unlinkExistingSingularSourceLink( const mega::reference& source )
{
    // source AND target are singular
    mega::reference& sourceRef = *reinterpret_cast< mega::reference* >( getSourceData( source ) );
    prepare( sourceRef );
    if( sourceRef.is_valid() )
    {
        mega::reference& sourceTarget = *reinterpret_cast< mega::reference* >( getTargetData( sourceRef ) );
        if( source != sourceTarget )
        {
            throw mega::runtime::JITException{ "Hypergraph error source not equal to target ref in relation: {{ relationID }}" };
        }
        structureBreak( source, sourceRef );
        sourceRef = mega::reference{};
        sourceTarget = mega::reference{};
    }
}
{%      else %}
void unlinkExistingSingularSourceLink( const mega::reference& source )
{
    // source is singular, target is non-singular
    mega::reference& sourceRef = *reinterpret_cast< mega::reference* >( getSourceData( source ) );
    prepare( sourceRef );
    if( sourceRef.is_valid() )
    {
        void* pTargetData = getTargetData( sourceRef );
        if( !mega::mangle::ref_vector_contains( pTargetData, source ) )
        {
            throw mega::runtime::JITException{ "Hypergraph error source not contained in target in relation: {{ relationID }}" };
        }
        structureBreak( source, sourceRef );
        mega::mangle::ref_vector_remove( pTargetData, source );
        sourceRef = mega::reference{};
    }
}
{%      endif %}
{% endif %}

{% if target_singular %}
{%      if source_singular %}
void unlinkExistingSingularTargetLink( const mega::reference& target )
{
    // source AND target are singular
    mega::reference& targetRef = *reinterpret_cast< mega::reference* >( getTargetData( target ) );
    prepare( targetRef );
    if( targetRef.is_valid() )
    {
        mega::reference& sourceRef = *reinterpret_cast< mega::reference* >( getSourceData( targetRef ) );
        if( target != sourceRef )
        {
            throw mega::runtime::JITException{ "Hypergraph error target not equal to source ref in relation: {{ relationID }}" };
        }
        structureBreak( targetRef, target );
        sourceRef = mega::reference{};
        targetRef = mega::reference{};
    }
}
{%      else %}
void unlinkExistingSingularTargetLink( const mega::reference& target )
{
    // source is singular, target is non-singular
    mega::reference& targetRef = *reinterpret_cast< mega::reference* >( getTargetData( target ) );
    prepare( targetRef );
    if( targetRef.is_valid() )
    {
        void* pSourceData = getSourceData( targetRef );
        if( !mega::mangle::ref_vector_contains( pSourceData, target ) )
        {
            throw mega::runtime::JITException{ "Hypergraph error target not contained in source in relation: {{ relationID }}" };
        }
        structureBreak( targetRef, target );
        mega::mangle::ref_vector_remove( pSourceData, target );
        targetRef = mega::reference{};
    }
}
{%      endif %}
{% endif %}


{% if source_singular %}
void linkSource( const mega::reference& source, const mega::reference& target )
{
    *reinterpret_cast< mega::reference* >( getSourceData( source ) ) = target;
}
{% else %}
void linkSource( const mega::reference& source, const mega::reference& target )
{
    mega::mangle::ref_vector_add( getSourceData( source ), target );
}
{% endif %}

{% if target_singular %}
void linkTarget( const mega::reference& target, const mega::reference& source )
{
    *reinterpret_cast< mega::reference* >( getTargetData( target ) ) = source;
}
{% else %}
void linkTarget( const mega::reference& target, const mega::reference& source )
{
    mega::mangle::ref_vector_add( getTargetData( target ), source );
}
{% endif %}

void link_make_{{ relationID }}( mega::reference context, mega::reference parameter )
{
    // mega::mangle::log( "link_make_{{ relationID }}" );
    if( ( !context.is_valid() ) || ( !parameter.is_valid() ) )
    {
        throw mega::runtime::JITException{ "Invalid parameters to link_make_{{ relationID }}" };
    }
    prepare( context );
    prepare( parameter );

    mega::reference& source = isSource( context ) ? context : parameter;
    mega::reference& target = isTarget( parameter ) ? parameter : context;

    if( !isSource( source ) )
    {
        throw mega::runtime::JITException{ "link_make_{{ relationID }} given invalid source" };
    }
    if( !isTarget( target ) )
    {
        throw mega::runtime::JITException{ "link_make_{{ relationID }} given invalid target" };
    }

{% if source_singular %}
    unlinkExistingSingularSourceLink( source );
{% endif %}
{% if target_singular %}
    unlinkExistingSingularTargetLink( target );
{% endif %}

    linkSource( source, target );
    linkTarget( target, source );
    structureMake( source, target );
}

void link_break_{{ relationID }}( mega::reference context, mega::reference parameter )
{
    if( ( !context.is_valid() ) || ( !parameter.is_valid() ) )
    {
        throw mega::runtime::JITException{ "Invalid parameters to link_break_{{ relationID }}" };
    }

    prepare( context );
    prepare( parameter );

    mega::reference& source = isSource( context ) ? context : parameter;
    mega::reference& target = isTarget( parameter ) ? parameter : context;
    
    if( !isSource( source ) )
    {
        throw mega::runtime::JITException{ "link_break_{{ relationID }} given invalid source" };
    }
    if( !isTarget( target ) )
    {
        throw mega::runtime::JITException{ "link_break_{{ relationID }} given invalid target" };
    }

{% if source_singular %}
{%      if target_singular %}
    mega::reference& sourceRef = *reinterpret_cast< mega::reference* >( getSourceData( source ) );
    mega::reference& targetRef = *reinterpret_cast< mega::reference* >( getTargetData( target ) );

    if( ( sourceRef != target ) || ( targetRef != source ) )
    {
        throw mega::runtime::JITException{ "link_break_{{ relationID }} source target combination does not match link" };
    }
    sourceRef = mega::reference{};
    targetRef = mega::reference{};
        
{%      else %}
    mega::reference& sourceRef = *reinterpret_cast< mega::reference* >( getSourceData( source ) );
    void* pTargetData = getTargetData( target );

    if( ( sourceRef != target ) || ( !mega::mangle::ref_vector_contains( pTargetData, source ) ) )
    {
        throw mega::runtime::JITException{ "link_break_{{ relationID }} source target combination does not match link" };
    }
    sourceRef = mega::reference{};
    mega::mangle::ref_vector_remove( pTargetData, source );
    
{%      endif %}
{% else %}
{%      if target_singular %}
    void* pSourceData = getSourceData( source );
    mega::reference& targetRef = *reinterpret_cast< mega::reference* >( getTargetData( target ) );

    if( ( targetRef != source ) || ( !mega::mangle::ref_vector_contains( pSourceData, target ) ) )
    {
        throw mega::runtime::JITException{ "link_break_{{ relationID }} source target combination does not match link" };
    }
    mega::mangle::ref_vector_remove( pSourceData, target );
    targetRef = mega::reference{};
    
{%      else %}
    void* pSourceData = getSourceData( source );
    void* pTargetData = getTargetData( target );
    if( !mega::mangle::ref_vector_contains( pSourceData, target ) ||
        !mega::mangle::ref_vector_contains( pTargetData, source ) )
    {
        throw mega::runtime::JITException{ "link_break_{{ relationID }} source target combination does not match link" };
    }
    mega::mangle::ref_vector_remove( pSourceData, target );
    mega::mangle::ref_vector_remove( pTargetData, source );
    
{%      endif %}
{% endif %}

    structureBreak( source, target );
}

void link_reset_{{ relationID }}( mega::reference context )
{
    mega::mangle::log( "link_reset_{{ relationID }} start" );
    prepare( context );

    if( isSource( context ) )
    {
{% if source_singular %}
        unlinkExistingSingularSourceLink( context );
{% else %}

    void* pSourceData = getSourceData( context );
    while( !mega::mangle::ref_vector_empty( pSourceData ) )
    {
        mega::mangle::log( "link_reset_{{ relationID }}" );
        mega::reference target = mega::mangle::ref_vector_back( pSourceData );
        prepare( target );


{%      if target_singular %}
        mega::reference& targetRef = *reinterpret_cast< mega::reference* >( getTargetData( target ) );
        if( targetRef != context )
        {
            throw mega::runtime::JITException{ "link_reset_{{ relationID }} source target combination does not match link" };
        }
        targetRef = mega::reference{};

{%      else %}

        void* pTargetData = getTargetData( target );
        if( !mega::mangle::ref_vector_contains( pTargetData, context ) )
        {
            throw mega::runtime::JITException{ "link_reset_{{ relationID }} source target combination does not match link" };
        }
        mega::mangle::ref_vector_remove( pTargetData, context );

{%      endif %}

        mega::mangle::ref_vector_pop( pSourceData );
        structureBreak( context, target );
    }

{% endif %}
    }
    else if( isTarget( context ) )
    {
{% if target_singular %}
        unlinkExistingSingularTargetLink( context );
{% else %}

    void* pTargetData = getTargetData( context );
    while( !mega::mangle::ref_vector_empty( pTargetData ) )
    {
        mega::mangle::log( "link_reset_{{ relationID }}" );
        mega::reference source = mega::mangle::ref_vector_back( pTargetData );
        prepare( source );

{%      if source_singular %}
        mega::reference& sourceRef = *reinterpret_cast< mega::reference* >( getSourceData( source ) );
        if( sourceRef != context )
        {
            throw mega::runtime::JITException{ "link_reset_{{ relationID }} source target combination does not match link" };
        }
        sourceRef = mega::reference{};

{%      else %}

        void* pSourceData = getSourceData( source );
        if( !mega::mangle::ref_vector_contains( pSourceData, context ) )
        {
            throw mega::runtime::JITException{ "link_reset_{{ relationID }} source target combination does not match link" };
        }
        mega::mangle::ref_vector_remove( pSourceData, context );

{%      endif %}

        mega::mangle::ref_vector_pop( pTargetData );
        structureBreak( source, context );
    }

{% endif %}
    }
    else
    {
        throw mega::runtime::JITException{ "link_reset_{{ relationID }} invalid reference" };
    }
}