<div class="{{style}}" {% if has_bookmark %}id="{{ bookmark }}"{% endif %}>{% for element in label %}{{ element }}{% endfor %}</div>
<ul class="{{style}}" >
{% for element in elements %}
    <li>{{ element }}</li>
{% endfor %}
</ul>
