digraph
{
    rankdir       = LR;
    ratio         = auto;
    concentrate   = True;

    node 
    [ 
        shape       = record 
        style       = solid
        penwidth    = 1
        fontname    = monospace
        fontsize    = 10
        fontcolor   = black
        margin      = 0 
        width       = 0 
        height      = 0
    ];

    edge 
    [ 
        penwidth  = 1
        fontname  = monospace
        fontsize  = 10
        fontcolor = black
    ];

    graph 
    [
        splines   = true 
        overlap   = false
    ]

{% for node in nodes %}
    "{{ node.name }}" 
    [
        color       = "black"
        fillcolor   = "{{ node.colour }}"
{% if node.has_url %}
        URL         = "{{ node.url }}"
{% endif %}
{% if node.has_bookmark %}
        id          = "{{ node.bookmark }}"
{% endif %}
        label       = 
        <
            <table 
                border      = "1" 
                cellborder  = "1" 
                cellpadding = "0"
                bgcolor     = "{{ node.colour }}"
            >
            {% for row in node.rows %}
            <tr>
            {% for value in row.values %}
                {{ value }}
            {% endfor %}
            </tr>
            {% endfor %}
            </table>
        >
    ];
{% endfor %}

{% for subgraph in subgraphs %}
    subgraph {{ subgraph.name }}
    {
        style       = dashed
        penwidth    = 2
{% if subgraph.has_url %}
        URL         = "{{ subgraph.url }}"
{% endif %}
{% if subgraph.has_bookmark %}
        id          = "{{ subgraph.bookmark }}"
{% endif %}
{% if subgraph.has_label %}
        label       = 
        <
            <table 
                border      = "1" 
                cellborder  = "1" 
                cellpadding = "0"
                bgcolor     = "{{ subgraph.colour }}"
            >
            {% for row in subgraph.rows %}
            <tr>
            {% for value in row.values %}
                {{ value }}
            {% endfor %}
            </tr>
            {% endfor %}
            </table>
        >
{% endif %}

{% for node in subgraph.nodes %}
        {{ node }};
{% endfor %}
    }
{% endfor %}

{% for edge in edges %}
    {{ edge.from }} -> {{ edge.to }}
    [
        color   = "{{ edge.colour }}"
        style   = "{{ edge.style }}"
    ]

{% endfor %}
}