<div class="{{style}}" {% if has_bookmark %}id="{{ bookmark }}"{% endif %}>{% if has_link %}<a href="{{ link }}">{% endif %}{% for element in elements %}{{ element }}{% endfor %}{% if has_link %}</a>{% endif %}</div>