
<html>

<head>
<style>
table
{
    font-size:14px;
    font-family:monospace;
}
th
{
    border: 2px solid darkblue;
    border-collapse: collapse;
}
td 
{
    border: 1px solid darkblue;
    border-collapse: collapse;
}
.multiline_default
{
    white-space:pre;
    font-size:14px;
    font-family:monospace;
    background-color:#b0c0c0;
}
.branch_default
{
    font-size:14px;
    font-family:monospace;
    background-color:#cfdfdf;
}
</style>
</head>

<body>

<script type="text/javascript">

    currentReportType = "home"
    
    stateMachine = function() 
    {
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString);

        /*if( window.location.hash.length === 0 )
        {
            // no fragment - nothing to do
            console.log( "No fragment nothing to do" )
        }
        else
        {
            hash = window.location.hash.substring( 1 )
            const element = document.getElementById( hash );
            if( element )
            {
                element.scrollIntoView();
                console.log( "Scrolled to element: " + hash )
            }
            else
            {
                console.log( "Could not locate element: " + hash )
            }
        }*/
        if( urlParams.has( "report" ) )
        {
            currentReportType = urlParams.get( "report" )
            console.log( "Report Type is: " + currentReportType )
        }
    }

    window.onrefresh = stateMachine
    window.onload = stateMachine
    
    
    /*
    A 65
    B 66
    C 67
    D 68
    E 69
    F 70
    G 71
    H 72
    I 73
    J 74
    K 75
    L 76
    M 77
    N 78
    O 79
    P 80
    Q 81
    R 82
    S 83
    T 84
    U 85
    V 86
    W 87
    X 88
    Y 89
    Z 90

    a 97
    b 98
    c 99
    d 100
    e 101
    f 102
    g 103
    h 104
    i 105
    j 106
    k 107
    l 108
    m 109
    n 110
    o 111
    p 112
    q 113
    r 114
    s 115
    t 116
    u 117
    v 118
    w 119
    x 120
    y 121
    z 122
    */

    document.onkeypress = function (e) 
    {
        e = e || window.event;
        lastKeyPressed = e.keyCode
        console.log( "onkeypress= " + lastKeyPressed )

        if( lastKeyPressed == 83 ) // S
        {
            currentReportType = "Symbols"
        }
        if( lastKeyPressed == 73 ) // I
        {
            currentReportType = "Interface"
        }
        else if( lastKeyPressed == 67 ) // C
        {
            currentReportType = "Concrete"
        }
        else if( lastKeyPressed == 105 ) // i
        {
            currentReportType = "interface"
        }
        else if( lastKeyPressed == 109 ) // m
        {
            currentReportType = "memory"
        }
        else if( lastKeyPressed == 110 ) // n
        {
            currentReportType = "nheritance"
        }
        else if( lastKeyPressed == 104 ) // h
        {
            currentReportType = "home"
        }
        console.log( "Report Type is: " + currentReportType )
    };

    // your handler
    function navigateTo( path, params, fragment ) 
    {
        if( params )
        {
            newLocation = path + "?" + params + "&report=" + currentReportType
        }
        else
        {
            newLocation = path + "?report=" + currentReportType
        }

        if( fragment )
        {
            newLocation = newLocation + "#" + fragment
        }

        console.log( "href= " + newLocation + "\n" )

        window.location.href = newLocation
    }

</script>
<p>(S)ymbolsIDs (I)nterfaceIDs (C)oncreteIDs (i)interfaceTree (m)emory (h)ome</p>
{{ body }}
</body>

</html>

