
<html>

<head>
<style>
table,
th, 
td 
{
    border: 1px solid black;
    border-collapse: collapse;
}
.multiline_default
{
    white-space:pre;
    font-size:14px;
    font-family:monospace;
    background-color:#dddddd;
    color:#222222;
}
.branch_default
{
}
</style>
</head>

<body>
{{ body }}
</body>

</html>

