<table>
{% if headings %}
<tr>
{% for heading in headings %}
<th>{{ heading }}</th>
{% endfor %}
</tr>
{% endif %}
{% for row in rows %}
<tr>
{% for value in row.values %}
<td>{{ value }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>