{% for generic in generics %}
// operator ::mega::ReferenceState()
{% for namespace in generic.namespaces %}{% if loop.is_first%}namespace {%else%}::{% endif %}{{namespace}}{% endfor %}
{% if generic.has_namespaces %} 
{ 
{% endif %}
    {% for type in generic.types %}{{type}}::{% endfor %}operator ::mega::ReferenceState() const
    {
        return ::mega::Null;
    }
{% if generic.has_namespaces %} 
} 
{% endif %}

{% endfor %}
