//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
//  Author: Edward Deighton
//  License: Please see license.txt in the project root folder.

//  Use and copying of this software and preparation of derivative works
//  based upon this software are permitted. Any copy of this software or
//  of any derivative work must include the above copyright notice, this
//  paragraph and the one after it.  Any distribution of this software or
//  derivative works must comply with all applicable laws.

//  This software is made available AS IS, and COPYRIGHT OWNERS DISCLAIMS
//  ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
//  PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
//  LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
//  EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
//  NEGLIGENCE) OR STRICT LIABILITY, EVEN IF COPYRIGHT OWNERS ARE ADVISED
//  OF THE POSSIBILITY OF SUCH DAMAGES.

#include "mega/archive.hpp"

#include <typeinfo>

#include "mega/api.hpp"

namespace 
{

static const char* g_unit_name = "{{ unitname }}";

template< typename ResultType, typename ContextType, typename TypePathType, typename OperationType >
struct __invoke_impl{
    template< typename... Args >
    inline ResultType operator()( ContextType, Args... )
    {
        static_assert( 0 && typeid( ResultType ).name() && typeid( ContextType ).name() && typeid( TypePathType ).name(), "Critical error: Invocation system failed to match implementation" );
    }
};

{% for invocation in invocations %}
template<>
struct __invoke_impl
<
    {{ invocation.return_type }},
    {{ invocation.context }},
    {{ invocation.type_path }},
    {{ invocation.operation }}
>
{
    template< typename... Args >
    inline {{ invocation.return_type }} operator()( {{ invocation.context }} context, Args... args ) const
    {
        static constexpr std::array< mega::TypeID, {{ invocation.type_path_size }} > g_type_path_types = { {{ invocation.type_path_type_id_list }} };
        static const mega::InvocationID id{ {{ invocation.context }}::ID, g_type_path_types, {{ invocation.operation }}::ID };
{% if invocation.explicit_operation == "Read" %}
        // Read
        static mega::runtime::ReadFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_read( g_unit_name, id, &g_pRuntimeFunc );
        }
        return *reinterpret_cast< {{ invocation.runtime_return_type }}* >( g_pRuntimeFunc( context.data ) );
{% else if invocation.explicit_operation == "Write" %}
        // Write
        static mega::runtime::WriteFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_write( g_unit_name, id, &g_pRuntimeFunc );
        }
        const {{ invocation.runtime_return_type }} temp{ args... };
        return g_pRuntimeFunc( context.data, (const void*)&temp );
{% else if invocation.explicit_operation == "Allocate" %}
        // Allocate
        static mega::runtime::AllocateFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_allocate( g_unit_name, id, &g_pRuntimeFunc );
        }
        return g_pRuntimeFunc( context.data );
{% else if invocation.explicit_operation == "Call" %}
        // Call
        static mega::runtime::CallFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_call( g_unit_name, id, &g_pRuntimeFunc );
        }
        mega::runtime::CallResult result = g_pRuntimeFunc( context.data );
        using FunctionType = {{ invocation.runtime_return_type }};
        const FunctionType pFunction = (const FunctionType)( result.pFunction );
{% if invocation.return_type == "void" %}
        pFunction( result.context, args... );
{% else %}
        return pFunction( result.context, args... );
{% endif %}
{% else if invocation.explicit_operation == "Start" %}
        // Start
        static mega::runtime::StartFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_start( g_unit_name, id, &g_pRuntimeFunc );
        }
        return g_pRuntimeFunc( context.data );
{% else if invocation.explicit_operation == "Stop" %}
        // Stop
        static mega::runtime::StopFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_stop( g_unit_name, id, &g_pRuntimeFunc );
        }
        return g_pRuntimeFunc( context.data );
{% else if invocation.explicit_operation == "Save" %}
        // Save
        static mega::runtime::SaveFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_save( g_unit_name, id, &g_pRuntimeFunc );
        }
        mega::SaveArchive archive( args... );
        g_pRuntimeFunc( context.data, &archive );
{% else if invocation.explicit_operation == "Load" %}
        // Load
        static mega::runtime::LoadFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_load( g_unit_name, id, &g_pRuntimeFunc );
        }
        mega::LoadArchive archive( args... );
        g_pRuntimeFunc( context.data, &archive );
{% else if invocation.explicit_operation == "Files" %}
        // Files
{% else if invocation.explicit_operation == "GetAction" %}
        // GetAction
{% else if invocation.explicit_operation == "GetDimension" %}
        // GetDimension
{% else if invocation.explicit_operation == "Range" %}
        // Range
{% else if invocation.explicit_operation == "Raw" %}
        // Raw
{% endif %}
    }

{% if invocation.explicit_operation == "Write" %}
    template<>
    inline {{ invocation.return_type }} operator()( {{ invocation.context }} context, const {{ invocation.runtime_return_type }}& arg ) const
    {
        static constexpr std::array< mega::TypeID, {{ invocation.type_path_size }} > g_type_path_types = { {{ invocation.type_path_type_id_list }} };
        static const mega::InvocationID id{ {{ invocation.context }}::ID, g_type_path_types, {{ invocation.operation }}::ID };
        // Write
        static mega::runtime::WriteFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_write( g_unit_name, id, &g_pRuntimeFunc );
        }
        return g_pRuntimeFunc( context.data, (const void*)&arg );
    }
{% endif %}

};
{% endfor %}

}

template< typename Context, typename TypePath, typename Operation, typename... Args >
static void invoke_impl_void( Context context, Args... args )
{
    using TypePathCanonical = typename mega::CanonicaliseTypePath< TypePath >::Type;
    __invoke_impl< void, Context, TypePathCanonical, Operation >()( context, args... );
}

template< typename ResultType, typename Context, typename TypePath, typename Operation, typename... Args >
static ResultType invoke_impl( Context context, Args... args )
{
    using TypePathCanonical = typename mega::CanonicaliseTypePath< TypePath >::Type;
    return __invoke_impl< ResultType, Context, TypePathCanonical, Operation >()( context, args... );
}
