
#include <typeinfo>

#include "runtime/runtime_api.hpp"
#include "runtime/mpo_context.hpp"

namespace 
{

static const char* g_unit_name = "{{ unitname }}";

template< typename ResultType, typename ContextType, typename TypePathType, typename OperationType >
struct __invoke_impl{
    template< typename... Args >
    inline ResultType operator()( ContextType, Args... )
    {
        static_assert( 0 && typeid( ResultType ).name() && typeid( ContextType ).name() && typeid( TypePathType ).name(), "Critical error: Invocation system failed to match implementation" );
    }
};

{% for invocation in invocations %}
template<>
struct __invoke_impl
<
    {{ invocation.return_type }},
    {{ invocation.context }},
    {{ invocation.type_path }},
    {{ invocation.operation }}
>
{
    template< typename... Args >
    inline {{ invocation.return_type }} operator()( {{ invocation.context }} context, Args... args ) const
    {
        static constexpr std::array< mega::TypeID, {{ invocation.type_path_size }} > g_type_path_types = { {{ invocation.type_path_type_id_list }} };
        static const mega::InvocationID id{ {{ invocation.context }}::ID, g_type_path_types, {{ invocation.operation }}::ID };
{% if invocation.explicit_operation == "Read" %}
        // Read
        static mega::runtime::ReadFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_read( g_unit_name, id, &g_pRuntimeFunc );
        }
        return *reinterpret_cast< {{ invocation.runtime_return_type }}* >( g_pRuntimeFunc( context.data ) );
{% else if invocation.explicit_operation == "Write" %}
        // Write
        static mega::runtime::WriteFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_write( g_unit_name, id, &g_pRuntimeFunc );
        }
        mega::runtime::WriteResult result = g_pRuntimeFunc( context.data );
        *reinterpret_cast< {{ invocation.runtime_return_type }}* >( result.pData ) = {{ invocation.runtime_return_type }}{ args... };
        return result.context;
{% else if invocation.explicit_operation == "Allocate" %}
        // Allocate
        static mega::runtime::AllocateFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_allocate( g_unit_name, id, &g_pRuntimeFunc );
        }
        return g_pRuntimeFunc( context.data );
{% else if invocation.explicit_operation == "Call" %}
        // Call
        static mega::runtime::CallFunction g_pRuntimeFunc = nullptr;
        if( nullptr == g_pRuntimeFunc )
        {
            mega::runtime::get_call( g_unit_name, id, &g_pRuntimeFunc );
        }
        mega::runtime::CallResult result = g_pRuntimeFunc( context.data );
        using FunctionType = {{ invocation.runtime_return_type }};
        const FunctionType pFunction = (const FunctionType)( result.pFunction );
{% if invocation.return_type == "void" %}
        pFunction( result.context, args... );
{% else %}
        return pFunction( result.context, args... );
{% endif %}
{% else if invocation.explicit_operation == "Start" %}
        // Start
{% else if invocation.explicit_operation == "Stop" %}
        // Stop
{% else if invocation.explicit_operation == "Pause" %}
        // Pause
{% else if invocation.explicit_operation == "Resume" %}
        // Resume
{% else if invocation.explicit_operation == "WaitAction" %}
        // WaitAction
{% else if invocation.explicit_operation == "WaitDimension" %}
        // WaitDimension
{% else if invocation.explicit_operation == "GetAction" %}
        // GetAction
{% else if invocation.explicit_operation == "GetDimension" %}
        // GetDimension
{% else if invocation.explicit_operation == "Done" %}
        // Done
{% else if invocation.explicit_operation == "Range" %}
        // Range
{% else if invocation.explicit_operation == "Raw" %}
        // Raw
{% endif %}
    }
};
{% endfor %}

}

template< typename Context, typename TypePath, typename Operation, typename... Args >
static void invoke_impl_void( Context context, Args... args )
{
    using TypePathCanonical = typename mega::CanonicaliseTypePath< TypePath >::Type;
    __invoke_impl< void, Context, TypePathCanonical, Operation >()( context, args... );
}

template< typename ResultType, typename Context, typename TypePath, typename Operation, typename... Args >
static ResultType invoke_impl( Context context, Args... args )
{
    using TypePathCanonical = typename mega::CanonicaliseTypePath< TypePath >::Type;
    return __invoke_impl< ResultType, Context, TypePathCanonical, Operation >()( context, args... );
}
