
// Ed was here!

#include "mega/values/compilation/type_id.hpp"
#include "mega/defaults.hpp"

#include <boost/config.hpp> // for BOOST_SYMBOL_EXPORT

class BOOST_SYMBOL_EXPORT DefaultsProvider_{{ name }} : mega::DefaultsProvider
{
    virtual void getDefaults( mega::Defaults& defaults ) override
    {
    {% for init in initialisers %}
        defaults.set< {{ init.type }} >
        ( 
            mega::TypeID::make_context( {{ init.objectID }}, {{ init.subObjectID }} ), 
            { {{ init.expression }} }
        );
    {% endfor %}
    }
};

extern "C" BOOST_SYMBOL_EXPORT  DefaultsProvider_{{ name }} {{ name }};
DefaultsProvider_{{ name }}                                 {{ name }};

