#ifndef INTERFACE_GUARD_{{ guard }}
#define INTERFACE_GUARD_{{ guard }}

{% for forward_decl in forward_decls %}
struct [[clang::eg_type( {{ forward_decl.symbol }} )]]{{ forward_decl.name }};
{% endfor %}

{{ interface }}

{% for struct in structs %}
struct [[clang::eg_type( {{ struct.typeid }} )]] {% for type in struct.types %}{{ type }}{% if not loop.is_last%}::{% endif %}{% endfor %}
{
{% for trait in struct.traits %}
    {{ trait }};
{% endfor %}
};
{% endfor %}



#endif //INTERFACE_GUARD_{{ guard }}
