//  Copyright (c) Deighton Systems Limited. 2022. All Rights Reserved.
{% for operation in operations %}

{% if operation.has_namespaces %} 
{% for namespace in operation.namespaces %}{% if loop.is_first%}namespace {%else%}::{% endif %}{{namespace}}{% endfor %}
{ 
{% endif %}
{{ operation.return_type }} {% for type in operation.types %}{{type}}::{% endfor %}operator()({{ operation.params_string }}) const
{
//_MEGAOPERATIONBEGIN{{ operation.typeID }}
    {{ operation.body }}
//_MEGAOPERATIONEND{{ operation.typeID }}
}
{% if operation.has_namespaces %} 
} 
{% endif %}

{% endfor %}
